gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# for release signing
key.properties
# for apps using old carm keystore
carm_key.properties 
