<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666295893364-he0igrbi1g0kdubgtj8kuct18tjojed5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666295893364-he0igrbi1g0kdubgtj8kuct18tjojed5</string>
	<key>API_KEY</key>
	<string>AIzaSyBKhFTABQ2u5RcBSBVjvz7x3OgYP8T7Irg</string>
	<key>GCM_SENDER_ID</key>
	<string>666295893364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.wiznet.carm2.app</string>
	<key>PROJECT_ID</key>
	<string>carm2-template</string>
	<key>STORAGE_BUCKET</key>
	<string>carm2-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666295893364:ios:5caa26fca54617e1134021</string>
	<key>DATABASE_URL</key>
	<string>https://carm2-template.firebaseio.com</string>
</dict>
</plist>