<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608575266780-gfr14tlh9ivv51tg74mc8b0talcbdtb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608575266780-gfr14tlh9ivv51tg74mc8b0talcbdtb5</string>
	<key>API_KEY</key>
	<string>AIzaSyC5IRiCmGgaXaF0AAO_H-TRGPy1LoXdfUU</string>
	<key>GCM_SENDER_ID</key>
	<string>608575266780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tenrijihosha.kasamoto</string>
	<key>PROJECT_ID</key>
	<string>tenri-kasamoto</string>
	<key>STORAGE_BUCKET</key>
	<string>tenri-kasamoto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608575266780:ios:bc8b234e4a517a441fb919</string>
</dict>
</plist>